body{
  margin: 0;
  padding: 0;
}

@media (min-width: 470px) and (max-width: 992px) {
  #temp-col-contain{
    /* display: grid;
    grid-template-columns: 1fr fr;  */
    display: flex;
    gap: 10px; 
  }
  #topicfeed{
      height: auto;
      flex: 1;
  }
  #roomfeed{
      height: auto;
      flex: 3;
  }
  #activityfeed{
    display: none;
  }
}

@media (max-width: 470px) {
  #topicfeed{
    display: none;
  }
  #roomfeed{
      height: auto;
  }
  #activityfeed{
    display: none;
  }
}

@media (min-width: 470px) and (max-width: 992px) {
  #temp-col-contain{
    /* display: grid;
    grid-template-columns: 1fr fr;  */
    display: flex;
    gap: 10px; 
  }
  #topicfeedp{
      height: auto;
      flex: 1;
  }
  #roomfeedp{
      height: auto;
      flex: 3;
  }
  #activityfeedp{
    display: none;
  }
}

@media (max-width: 470px) {
  #topicfeedp{
    height: auto;
  }
  #roomfeedp{
      height: auto;
  }
  #activityfeedp{
    display: none;
  }
}