/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-color: rgb(48, 48, 91);
  color: rgb(176, 175, 227);
  margin: 0;
  padding: 0;
}

.brand-name {
  color: rgb(202, 208, 237);
}

.brand-name:hover {
  color: rgb(170, 179, 226);
}

.light{
  color: rgb(131, 129, 194);
}

.dark {
  color: rgb(14, 14, 29);
}

.bg-box {
  background-color: rgb(101, 101, 179);
}

.bg-elements {
  background-color: rgb(36, 36, 64);
}

.bg-element-light {
  background-color: rgb(48, 48, 75);
}

.bg-nav {
  background-color: rgb(36, 36, 64);
}
.nav-item-color {
  color: rgb(95, 95, 167);
}

.nav-text {
  color: rgb(202, 208, 237);
}

.room-name {
  color: rgb(218, 222, 243);
}
.room-name:hover {
  color: rgb(97, 107, 155);
}

.form-width{
  width: 290px;
}

.pointer {
  cursor: pointer;
}

.btns {
  background-color: rgb(112, 86, 155);
  color: rgb(202, 208, 237);
}

.btns:hover {
  background-color: rgb(89, 67, 126);
  color: rgb(202, 208, 237);
}

.linkc{
  text-decoration: none;
}

.bg-input-txt {
  background-color: rgb(42, 42, 78);
  color: rgb(202, 208, 237);
}

.bg-input-txt:focus {
  background-color: rgb(42, 42, 78);
  color: rgb(202, 208, 237);
}

.heading {
  /* background-color: rgb(79, 61, 110); */
  background-color: rgb(101, 101, 179);
  color: rgb(202, 208, 237);
  height: 45px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.dim {
  color: rgb(127, 145, 235);
}

.dim:hover {
  color: rgb(160, 172, 235);
}

.message-box {
  background-color: rgb(56, 56, 106);
  color: rgb(202, 208, 237);
  overflow-y: scroll;
  /* height: 360px; */
  height: 60vh;
}

.full-height {
  height: 100vh;
}

.overflow {
  overflow-y: auto;
  height: 100%;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

/* Webkit Scrollbar Styling */
::-webkit-scrollbar {
  /* width: 5px; Set the desired width */
  width: 0px;
  background: transparent;
}

/* ::-webkit-scrollbar-thumb { */
  /* background: rgb(36, 36, 64); Color of the scrollbar thumb */
  /* border-radius: 10px; Rounded edges of the scrollbar thumb */
/* } */

/* ::-webkit-scrollbar-thumb:hover { */
  /* background: #555; Color when hovering over the scrollbar thumb */
/* } */

/* ::-webkit-scrollbar-track { */
  /* background: rgb(101, 101, 179); Color of the scrollbar track */
  /* border-radius: 10px; Rounded edges of the scrollbar track */
/* } */


.bg-heading{
  background-color: rgb(79, 61, 110);
}

.chat-box {
  background-color: rgb(79, 61, 110);
  color: white;
}

.chat-box:focus {
  background-color: rgb(79, 61, 110);
  color: white;
}

.f-sm{
  font-size: smaller;
}

.f-xsm{
  font-size: x-small;
}

.heading-height {
  height: 40px;
}
.description-input {
  height: 250px;
}
.txtarea {
  resize: none;
}
.room-form-input {
  height: 45px;
}

.back_arrow {
  height: 5px;
  width: 30px;
}

.navbar-dp {
  height: 40px;
  width: 40px;
}

.display-pic {
  height: 35px;
  width: 35px;
}

.profile-pic {
  height: 230px;
  width: 230px;
  /* margin-left: 10%; */
}

.activity-chat {
  background-color: rgb(83, 83, 146);
  color: white;
}

.btnm {
  background-color: rgb(32, 32, 69);
  color: rgb(176, 175, 227);
}

.btnm:hover {
  background-color: rgb(20, 20, 56);
  color: rgb(176, 175, 227);
}

.chat-mssg {
  max-width: 70%;
}




@media (min-width: 993px)  {
  #mobile-btn-roomfeed {
    display: none;
  }
  .back-link {
    display: none;
  }
  .activity-navbar {
    display: none; 
  }
  #toggle-participants {
    display: none;
  }
}


@media (min-width: 470px) and (max-width: 992px) {
  #temp-col-contain{
    /* display: grid;
    grid-template-columns: 1fr fr;  */
    display: flex;
    gap: 10px; 
  }
  #topicfeed{
    height: auto;
    flex: 1;
  }
  #roomfeed{
      height: auto;
      flex: 3;
  }
  #activityfeed{
    display: none;
  }

  #topicfeedp {
      height: auto;
      flex: 1;
  }
  #roomfeedp {
      height: auto;
      flex: 3;
  }
  #activityfeedp {
    display: none;
  }
    #searchbar {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  #mobile-btn-roomfeed {
    height: auto;
  }
  #activityfeedp {
    display: none;
  }
  #browse-topics-btn {
    display: none;
  }
  .activity {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #participants {
    display: none;
  }
}

@media (max-width: 470px) {
  #topicfeed{
    display: none;
  }
  #roomfeed{
      height: auto;
  }
  #activityfeed{
    display: none;
  }

  #topicfeedp{
    height: auto;
  }
  #roomfeedp {
      height: auto;
      margin-top: 15px;
  }
  #activityfeedp {
    display: none;
  }
  #searchbar {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  #mobile-btn-roomfeed {
    height: auto;
  }
  .activity {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

  #participants {
    display: none;
  }
  #chat-self {
    font-size: smaller;
  }
}